$red: #d0021b;
$orange: #f5a623;
$blue: #4a90e2;
$green: #7ed321;

$grey-1: #f2f2f2;
$grey-2: #e1e1e1;
$grey-3: #c8c8c8;
$grey-4: #9b9b9b;
$grey-5: #757575;

$white: white;
$black: black;

$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 20px;
$font-size-4: 24px;

$app-width: 1024px;

@mixin title {
  font-family: HelveticaNeue-Bold, 'Roboto', Microsoft JhengHei, sans-serif;
  font-size: $font-size-4;
  font-weight: bold;
}

@mixin subtitle {
  font-family: HelveticaNeue-Bold, 'Roboto', Microsoft JhengHei, sans-serif;
  font-size: $font-size-3;
  font-weight: bold;
}

@mixin subtitle-2 {
  font-family: HelveticaNeue-Bold, 'Roboto', Microsoft JhengHei, sans-serif;
  font-size: $font-size-2;
  font-weight: bold;
}

@mixin remark {
  font-family: HelveticaNeue-Medium, 'Roboto', Microsoft JhengHei, sans-serif;
  font-size: $font-size-2;
}