@import 'globals';

.order-page {

  .pagination-row {
    display: flex;

    .order-pagination {
      margin-left: auto;

      .page-item {
        a, button {
          color: black;
          border-color: $grey-1;
          @include remark;
          padding: 10px 16px;
        }
        &.active {
          a, button {
            color: white;
            background: black;
          }
        }        
      }
    }    
  }

  .order-page-tooltip {
    padding: 4px 8px !important;
    @include placeholder;
    line-height: 21px !important;
  }

  .top-menu-row {
    display: flex;
    align-items: center;
    padding-left: 16px;

    .down-icon {
      margin-left: 5px;

      .down-icon-toggler {
        display: flex;
        align-items: center;
        cursor: pointer;
      }   
      
      .hover-menu {
        left: 0;
        transform: none;
      }
    }

    .tag-icon {
      margin-left: 16px;
      
      .tag-icon-toggler {
        display: flex;
        align-items: center;
        cursor: pointer;
      }  
      
      .hover-menu {
        left: 0;
        transform: none;
        width: 181px;
      }    
      
      .disabled {
        color: $grey-4;
        pointer-events: none;
      }
    }

    .edit-section {
      margin-left: auto;
      .edit-text {
        @include subtitle-1;
        i {
          margin-left: 8px;
        }
        cursor: pointer;
      }
      .edit-menu {
        @include remark;
        font-weight: 100;
        right: 0;
        background: white;

        & > div {
          display: flex;
          align-items: center;
          white-space: nowrap;      
          margin-bottom: 19px;
          cursor: default;
          &:last-child {
            margin-bottom: 0;
          }          
        }

        .checkbox {
          margin-right: 8px;
        }

      }
    }
  }

  .order-table {
    margin-top: 16px;

    th {
      background: white;
      position: relative;
      vertical-align: middle;
      @include subtitle-2;
      line-height: 19px;
    }

    td, th {
      padding-left: 16px;
    }

    td {
      @include placeholder;
      font-weight: 100;
      line-height: 21px;
      padding: 20px 16px;
      .checkbox {
        margin-right: 8px;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
      }
    }

    .grey td {
      color: $grey-4;
    }
    .delete td {
      text-decoration: line-through;
    }

    tr:nth-child(2n+2) {
      td {
        background: #ebebeb;
      }
    }

    .table-box {
      & > * {
        display: flex;
        justify-content: space-between;
        line-height: 21px;
      }
      .grey {
        color: $grey-4;
      }

      padding: 8px 0;
      border-top: solid 1px white;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }

    .btn {
      font-size: 14px;      
      padding: 9px 16px 7px;
      color: white;
      text-transform: uppercase;

      display: inline-flex;
      align-items: center;

      i {
        margin-left: 8px;
      }
      span, i {
        vertical-align: middle;        
      }
      span {
        line-height: 18px;
      }

      &:focus {
        box-shadow: none;
      }
    }
    .btn-menu {
      left: 0;
      transform: none;
      color:black;
    }
  }

}

